#table1{
      border: 1px solid black;
      padding: 20px;
      width: 80%;
}
#table1 label,#table1 input{
  padding: 5px;
}
#break{
  padding: 35px;
}
#button button{
  padding: 5px;
  margin: 5px;
}
.naba{
	background-color: black;
	border-color: #E7E7E7;
	position: fixed;
	top: 0;
	width: 100%;
}
.thing{
 background-image: url("https://cdn.hipwallpaper.com/i/43/71/KcmlRo.jpg");
 background-size: cover;
 height: 100vh; 
}
.fig{
  background-image: linear-gradient(#111,#111);
  opacity: 0.95;
  background-size: cover;
  height: 100vh;
}
label{
  color: #4caf50;
}
input{
 padding-bottom: 8px;
 border: none;
 outline: none;
 background:none;
 color: white;
 font-size: 18px;
 width: 30%;
 float: 80%;
 float: left;
 margin: 0 10px; 
 border-bottom: 1px solid #4caf50;
}
input[type=number]{
  -moz-appearance:textfield;
}
input[type=number]:hover,
input[type=numebr]:focus{
  -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance:none;
  margin:0;
}