
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Marks Entry</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='cssem.css')}}">
  </head>

  <body class="thing">
    <div class="fig">
    <nav class="naba">
      <ul>
        <br>
          <form action="/logout_user" method="post">
              <button class="" type="submit" style="float: right;position: absolute;right: 55px; background: none;outline: none;color: white;border: none;">Logout</button>   <!--DEBUG LATER -->
            </form> 
        <br>
      </ul>
    </nav><br><br>

    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <!-- action dekh le -->
            <form class="" action="/subjectpage2" method="POST">
              <br>
              <b><input step=0.01 style="width: 11%;font-size: 14px" id="13" type="number" placeholder="Target-cgpa" required name="target" min="1" max="10"></b><br>
              <br>
              <b> <input style="width: 13%;font-size: 14px" required name="latest_internal" placeholder="Latest Internal" type="number" >
              </b><br><br>

              <b style="color: #4caf50;"> Enter marks for:</b><br>
                <div id="table1">
                  <div class="row">
                    <div class="col-xs-6">
                        <label> Engineering Mathematics-II: </label>
                    </div>
                    <div class="col-xs-6">
                        <input id="15" type="number" required name="1"><br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                        <label> Engineering Chemistry: </label>
                    </div>
                    <div class="col-xs-6">
                        <input  id="16" type="number" required name="2"><br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                        <label> Computer Concepts and C programming: </label>
                    </div>
                    <div class="col-xs-6">
                        <input  id="17" type="number" required name="3"><br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                        <label> Electronics Fundamental: </label>
                    </div>
                    <div class="col-xs-6">
                        <input  id="18" type="number name="" required name="4"><br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                        <label> Computer aided engineering drawing: </label>
                    </div>
                    <div class="col-xs-6">
                        <input  id="19" type="number" required name="5"><br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                        <label> English enhancement course: </label>
                    </div>
                    <div class="col-xs-6">
                        <input  id="20" type="number" required name="6"><br>
                    </div>
                  </div>
                </div>
                <div class="row" style="padding-top:10px;">
                  <div class="col-xs-8 col-xs-offset-0"><br>
                      <b><input style="width: 19%;font-size: 15px" id="7" type="number" placeholder="Attendance" required name="attendance" style="width:25%;"></b><br>
                  </div>
                </div>
                <button class="w3-button w3-green w3-section w3-left" type="submit">Enter</button>
            </form>
        </div>
        <div class="col-xs-2">
          <div class="row"><br>
            <table style="float: right;margin: 20px 0px">
              <tr>
                <td style="color: #4caf50">USN &nbsp &nbsp </td> &nbsp &nbsp &nbsp
                <th class="bb" style="color: #4caf50;text-transform: uppercase;">{{ result[0] }}</th>
              </tr>
              <tr>
                <td style="color: #4caf50">SEM</td>
                <th style="color: #4caf50;text-transform: uppercase;">{{ result[1] }}</th>
              </tr>
            </table>
          </div>
          <div class="row" id="break"></div>
          <div class="row" id="break"></div>
          <div class="row" id="button">
           <!-- Yaha se render karwa de -->
            <form action="/plot_b2" method="POST">
              <button id="54"  style="position:absolute;top: 150%;left: 50%;" type="button" required name="plots"><img src="https://thumb7.shutterstock.com/display_pic_with_logo/859894/449865031/stock-photo-graph-button-isolated-on-white-background-d-render-449865031.jpg" alt="graph" width="60" height="60"></button><br>
            </form>  
              <!-- <button style="background-color:#5f788a;height: 35px;width: 100px;font-size: 120%;color: white" id="55" type="button" required name="details">Details</button><br> -->
            
<!--             Mostly isko nikaalta bola normalized score ko -->  
<!--               <button style="background-color: #5f788a;height: 55px;width: 130px;font-size: 120%;color: white" id="56" type="button" required name="ns">Normalised score</button><br> --> 
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
