<!DOCTYPE html>
<html>
<head>
		<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
      a:hover{
        background-color: #4CAF50;
        text-decoration-color: black;
        border-radius: 25px;
      }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css')}}">
	<title>About</title>
</head>
<body class="thing">
  <div class="fig">
  
    	<header class="site-header">
    		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    			<div class="container">
            <div class="collapse navbar-collapse" id="navbarToggle">
              <!-- <div class="  navbar-nav mr-auto" style="right: 10%;position: relative;"> 
                <a class="nav-item nav-link" style="color: white" href="/company">Placement Statistics</a>
              </div> -->

    					<div class="navbar-nav">
    						<a class="nav-item nav-link1" href="/" style="color: white;padding: 7px 14px;left: -80%;float: right;position: relative;">Home</a>
    					</div>
    				</div>
    			</div>
     		</nav>
    	</header>
      <div style="width: 40%;top: 20%;left: 30%;position: relative;text-align: center;border:2px solid #4CAF50;padding: 8px;">
        <h2 style="color: #4CAF50;font-size:30px;padding: 10px;font-family: sans-serif;"><u>About</u></h2>
        <div style="color: white;font-size: 18px;">
          "How much do I need to study?" or "Where do I stand?", these are the two questions that haunt every dedicated student throghout his/her education. This is an attempt to help find the answers to these questions.
        </div>
        <div style="color: white;font-size: 18px;">
          Edsgar-Perforamance Analyzer lets the student feed in his/her details, provide account-handling capability and helps the student decide an achievable target for him/herself. Based on the entered data, EPA plots Graphs representing a close approximation of the effort the student needs to put to achieve his/her target. The EPA also has a leaderboard which lets the student compare his/her score with his/her peers, promoting a healthy competetion. We also provide Testimonials from successfull pass-outs for guidance, inspiration. Pedigree information about the placement statistics are also available on our portal.
        </div>
      </div>
</div>
</body>
</html>