<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css')}}">

	<title>Additional Info</title>
</head>
<body class="thing">
  <div class="fig">
  	<header class="site-header">
  		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
  			<div class="container">
  				<div class="collapse navbar-collapse" id="navbarToggle">
  					<div class="navbar-nav mr-auto">
  						<a class="nav-item nav-link" style="color: white" href="/">Home</a>
  					</div>
  					<div class="navbar-nav">
              <p style="float: right;position :absolute ;right: 55px; bottom:0%;">
                <a class="" style="color: white;"  href="/logout_user">Logout</a>
              </p> 
  					</div>	
  				</div>
  			</div>
  		</nav>
  	</header>

      <div class="login-box" style="width: 50%;height: 70vh">
        <form action="/additionalform" method ='POST'>
          <h1 style="color: white;">Additional Info</h1>
            <div class="textbox" style="padding-bottom:0px;">
              <input class="blank" step = 0.01 type="number" placeholder="CGPA" required name="cgpa" style="width: 95%">
            </div>

            <div class="textbox" style="padding-bottom:0px">
              <input class="blank" type="number" placeholder="Update Sem" required name="update_sem" style="width: 95%">
              
            </div>
            <small style="color: red;float: left;"> &nbsp &nbsp (current Sem)</small>
            <div class="textbox" style="padding-bottom:0px">
              <input class="blank" type="number" placeholder="No.of Coding Competitions Won" required name="coding" style="width: 95%"><br>
            </div>
            <div class="textbox" style="padding-bottom:0px">
             <input class="blank" type="text" placeholder="Hackerrank_Profile" required name="hackerrank" style="width: 95%">
            </div>
            <div class="textbox" style="padding-bottom:0px"> 
             <input class="blank" type="number" placeholder="College Club Membership Status (out of 5)" required name="membership_status" style="width: 95%">
            </div>
            <div class="textbox" style="padding-bottom:0px"> 
             <input class="blank" type="number" placeholder="No. of Projects Completed"
             required name="projects" style="width: 95%"><br>
            </div> 
              <button class="btn" id="77" type="submit" style="width: 30%">Submit</button>
        </form>

    </div>
  </div>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>
</body>
</html>