<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css')}}">

	<title>E-Performance Analyzer</title>
</head>
<body style="background-image: url(https://ak7.picdn.net/shutterstock/videos/103987/thumb/1.jpg);background-size:cover; background-position: center; " >
	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
				<div class="collapse navbar-collapse" id="navbarToggle">
					<div class="navbar-nav mr-auto">	
						<a class="nav-item nav-link" style="color: white" href="/">Home</a>
					</div>

					<div class="navbar-nav">
						<a class="nav-item nav-link1" href="/login" style="color: white">Login</a>
						&nbsp
						&nbsp
						&nbsp
						<a style="color: white" class="nav-item-nav-link2" href="/register">Register</a>
					</div>
				</div>
			</div>
		</nav>
	</header>


	<br>
	<br>
	<br>
	<br>
	<div>
	<center ><h6 style="color: white"><p>“How much do I need to study?” or “Where do I stand?”. These are the two questions that students ask themselves throughout their education. This is an attempt to help students find the answer to those questions</p>

	<p> E- Performance Analyzer will let the student feed in their details, provide account handling capability and let students decide an achievable targets for themselves.Based on the entered data EPA plots graphs indicating a good approximation of the amount effort they need to put in to achieve their target. It also provides a leaderboard which lets the student compare his scores with his/her peers.</p>

	<p>The EPA also uses the company-wise cutoff data from the placement department through which students can get a measure of the work that needs to be done for being eligible for a particular company. Data about their club memberships, number of competitions won in technical and club events are also included in the EPA.Students will also have to submit their github link. It also provides testimonials of some of the successful passouts for inspiring the current batch of students.</p>

	<p>As CGPA is no longer a completely reliable measure for gauging one’s true potential, the EPA provides with a new entity called the TP score or the TruePot score. For evaluating a TP score, following are the major parameters-
    1. SGPA/CGPA
    2. HackerRank profile details (practice score, competition score and rank)
    3. Number of recognized coding competitions won
    4. Current status of membership in one of the established college clubs
    5. Number of evaluated projects (In college or for standard competitions)</p>
	
	<p>The aim of TruePot is to help students have a very good approximation of where they stand in overall performance and also to help the placement office to come up with more refined eligibility criteria for different placement interviews.</p>

	<p>Additional features include attendance shortage reminder and data regarding the CGPA and GATE scores of previous passouts who are currently pursuing their higher education. The EPA also has a provision to keep track of number of backlogs a students has.</p></h6></center>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>	