<!DOCTYPE html>
<html>
<head>
		<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
      a:hover{
        background-color: #4CAF50;
        text-decoration-color: black;
        border-radius: 25px;
      }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css')}}">
	<title>Login</title>
</head>
<body class="thing">
  <div class="fig">
  
    	<header class="site-header">
    		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    			<div class="container">
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="  navbar-nav mr-auto" style="right: 10%;position: relative;"> 
                <a class="nav-item nav-link" style="color: white" href="/about">About this Project</a>
              </div>

    					<div class="navbar-nav">
    						<a class="nav-item nav-link1" href="/register" style="color: white;padding: 7px 14px;left: 40%;position: relative;">Register</a>
                &nbsp
                &nbsp
                &nbsp 
                &nbsp
                &nbsp
                <a class="nav-item nav-link1" href="/" style="color: white;padding: 7px 14px;left: 30%;position: relative;">Home</a>
    					</div>
    				</div>
    			</div>
    		</nav>
    	</header>
      <div class="login-box">
      <h1 style="color: white">LOGIN</h1>

        <form action="/loginform" method = 'POST'>
          <div class="textbox">
            <input type="text" onkeyup="this.value = this.value.toUpperCase();" required name="usn1" placeholder="USN">
          </div>
          <div class="textbox">
            <input type="password" required name="password1" placeholder="Password">
          </div>

          {% if msg1 %}
             <small style="color: red">{{msg1}}</small>
          {% endif %} 
          <button class="btn" type="submit">SIGN IN</button>
        </form>
<!--        border-top pt-3 -->
      <div class="">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
      </div>
  </div>    
</div>
</body>
</html>