 <!DOCTYPE html>
 <html>
 <head>
 	<meta name="viewport" content="width=device-width, initial-scale=1">


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 <!-- Bootstrap CSS -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='cssem.css')}}">
	<title>STATS</title>
	<style>
		table{
			counter-reset: tableCount;
		}
		.counterCell:before{
			content:counter(tableCount);
			counter-increment: tableCount;
		}
	</style>
 </head>
 <body>
 	<div class="thing">
 		<div class="fig">
 			<nav class="naba">
		      <ul>
		        <br>
		        <!-- <p style="float: right;position :relative ;right: 55px;"> -->
		        	<form action="/logout_user" method="post">
		        		<button class="" type="submit" style="float: left;position: absolute; background: none;outline: none;color: white;border: none;">Home</button>
		           		<button class="" type="submit" style="float: right;position: absolute;right: 55px; background: none;outline: none;color: white;border: none;">Logout</button>		<!--DEBUG LATER -->
		           	</form>	
		        <br>
		      </ul>
    		</nav><br><br>

  	<br><table border style="padding: 10px;border:3px solid black;text-align: center;width: 50%;height: 10%;border-collapse: collapse; border-color: white;position: relative;left: 27%;">
		<tr style="color: white">
			<th><bold>S.no.</bold></th>
			<th><bold>COMPANY NAME</bold></th>
			<th><bold>TIER</bold></th>
			<th><bold>NO. STUDENTS OF RECRUITED</bold></th>
		</tr>
	

		{% for row in result %}

			<tr style="color: white">
				<th class="counterCell"></th>
				<th>{{row[0]}}</th>
				<th>{{row[1]}}</th>
				<th>{{row[2]}}</th>
			</tr>
		{% endfor %}


	</table>
 </body>
 </html>
