<!DOCTYPE html>
<html>
<head lang="en" dir="ltr">
	<title>testimonials</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
</head>
<body class="thing">
	
	 <nav class="naba">
      <ul>
        <br>
        	<form action="/logout_user" method="post">
        		<button class="" type="submit" style="float: left;position: relative; background: none;outline: none;color: white;border: none;">Home</button>
           		<button class="" type="submit" style="float: right;position: absolute;right: 55px; background: none;outline: none;color: white;border: none;">Logout</button>		<!--DEBUG LATER -->
           	</form>	
        <br>
      </ul>
    </nav>
    <div class="fig">
	<section class="team-area">
	  <div class="container">
	  	<div class="row">
	  		<div class="col-sm-12 text-center">
	  			<u style="color: white"><h2 style="color: white">TESTIMONIALS</h2></u>
	  		</div>
	  	</div><br><br><br>	
	  	<div class="row">
	        <div class="col-sm-6 col-sm-3">
	  			<div class="team-block">
	  				<div class="team-man">
	  				<img src="C:\Users\LENO\Pictures\Screenshots\Screenshot (40).png">
	  				</div>
	  				<div class="team-description text-center">
	  					<div class="title">
	  						<h3>ram prasad agarwal</h3>
	  						<span>digital/McKinsey-16lpa</span>
	  					</div>
	  					<p>Have complete in and out knowledge of your projects: They are the interview starters most of the time.Practice competitive programming problems daily: They will improve your problem solving skills.Work more on basics. Learn every concept with some real world example: This will increase your memorising power and also help you understand the concept better.Master any one Object oriented programming (C++ or JAVA or Python), Data Structures, OS, DBMS, Algorithm.Always wear confidence and smile on your face. 
	  					</p>
	  					<div class="team-social-network">
	  						<a href="https://www.facebook.com/agarwalramprasad"><i class="fa fa-facebook-official"></i></a>
	  						
	  						<a href=" https://www.linkedin.com/in/ramprasadagarwal/"><i class="fa fa-linkedin"></i></a>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="col-sm-6 col-sm-3">
	  			<div class="team-block">
	  				<div class="team-man">
	  				<img src="C:\Users\LENO\Pictures\Screenshots\Screenshot (41).png">
	  				</div>
	  				<div class="team-description text-center">
	  					<div class="title">
	  						<h3>asfia armaan</h3>
	  						<span>one plus-5lpa</span>
	  					</div>
	  					<p>
	  					Work on aptitude.Quants,verbal and logical reasoning.Work on any one of the programming language thoroughly.Work well on your communication skills.Have a nice base on at least one or two core subjects from your branch.
	  					</p>
	  					<div class="team-social-network">
	  						<a href="https://www.facebook.com/asfia.armaan"><i class="fa fa-facebook-official"></i></a>
	  						
	  						<a href=""><i class="fa fa-linkedin"></i></a>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="col-sm-6 col-sm-3">
	  			<div class="team-block">
	  				<div class="team-man">
	  				<img src="https://dyn.web.whatsapp.com/pp?e=https%3A%2F%2Fpps.whatsapp.net%2Fv%2Ft61.11540-24%2F41739790_1862622953792564_2612340023009214464_n.jpg%3Foe%3D5BBF7474%26oh%3D92a90b5ddb56e6027e95e99c1cf3dc45&t=l&u=918861602535%40c.us&i=1538836327">
	  				</div>
	  				<div class="team-description text-center">
	  					<div class="title">
	  						<h3>SHRUTHI</h3>
	  						<span>one trust-5lpa</span>
	  					</div>
	  					<p>
	  						 To get into any company,we have to clear all the rounds for that our aptitude should be good and as per my experience all the technical rounds will not be that difficult but which ever subject that we will mention in our resume we should know the basics very well,if u know basics it's not a big problem.When u get into any company training will be provided,if u know basics,then we can build our careers from there as per the company requirements,otherwise it will be quite difficult.
	  					</p>
	  					<div class="team-social-network">
	  						<a href=""><i class="fa fa-facebook-official"></i></a>
	  						
	  						<a href=""><i class="fa fa-linkedin"></i></a>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="col-sm-6 col-sm-3">
	  			<div class="team-block">
	  				<div class="team-man">
	  				<img src="https://dyn.web.whatsapp.com/pp?e=https%3A%2F%2Fpps.whatsapp.net%2Fv%2Ft61.11540-24%2F41694996_305222906744696_4771911388312371200_n.jpg%3Foe%3D5BBF6CA8%26oh%3Da31c936a48a146375b99465ff033a056&t=l&u=919483478805%40c.us&i=1538157851">
	  				</div>
	  				<div class="team-description text-center">
	  					<div class="title">
	  						<h3>rohan karnik</h3>
	  						<span>ROBERT BOSCH-4.2</span>
	  					</div>
	  					<p>
	  					Be confident, Kindly Practice coding in Hackerrank regularly and start to prepare for placements at least 2 months before the placements starts.They ask casual question to see how good you present yourself.Your Confidence,English and how you manage your presentation if you are interrupted in between.. Be strong in basic concepts of Data Structures, Algorithms and Operating systems. Moreover, be thorough with everything you mention in your resume and mention only those which you are perfect in. 
	  					</p>
	  					<div class="team-social-network">
	  						<a href=""><i class="fa fa-facebook-official"></i></a>
	  						
	  						<a href=""><i class="fa fa-linkedin"></i></a>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  	
	  </div>

	</section>
</div>
</body>
</html>
