<!DOCTYPE html>
<html>
<head lang="en" dir="ltr">
	<title>testimonials</title>
	<style type="text/css">
		.btn {
		  border: 1px solid black;
		  background-color: black;
		  color: black;
		  padding: 7px 14px;
		  font-size: 16px;
		  cursor: pointer;
		}
		.success {
		  border:none;
		  color: white;
		}

		.success:hover {
		  background-color: #4CAF50;
		  color: white;
		  font-color:white;
		  border-radius: 25px;
		}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
</head>
<body class="thing">
	
	 <nav class="naba">
      <ul>
        <br>
        	<form action="/leader" method="post">
        		<button class="btn success" type="submit" style="float: left;position: absolute;bottom:14%;left:3%;">Leaderboard</button>
        	</form>
        	<form action="/company" method="post">
        		<button class="btn success" type="submit" style="float: left;position: absolute;bottom:14%;left:13%;">Placement Statistics</button>
        	</form>
        	<form action="/logout_user" method="">	
           		<button class="btn success" type="submit" style="float:right;position: absolute;bottom:14%;right:3%;">Logout</button>
           	</form>		
        <br>
      </ul>
    </nav>
    <div class="fig">
	<section class="team-area">
	  <div class="container">
	  	<div class="row">
	  		<div class="col-sm-12 text-center">
	  			<u style="color: white"><h2 style="color: white">TESTIMONIALS</h2></u>
	  		</div>
	  	</div><br><br><br>	
	
	  	<div class="row">
	  		<div class="col-sm-6 col-sm-3">
	  			<div class="team-block">
	  				<div class="team-man">
	  				<img src="/static/images/vaishnovi.jpg">
	  				</div>
	  				<div class="team-description text-center">
	  					<div class="title">
	  						<h3>vaishnovi kamath</h3>
	  						<span>dell-9lpa</span>
	  					</div>
	  					<p>
	  						The first round is aptitude test,which included questions on quants and logical.The other section was technical questions on c and c++.First round is the most important,so be thorough with basic subjects of CS.Then next was technical rounds.They normally ask the programming language you are comfortable with and basic questions(writing some algorithms or programs).Apart from that,they ask your favorite subject and questions on those.Be thorough with your projects.Normal questions on project are,give the architecture of your database,write queries in sql,how would you resolve redundancy.The HR round is all about testing your confidence.So be confident and answer.
	  					</p>
	  					
	  				</div>
	  			</div>
	  		</div>
	  		<div class="col-sm-6 col-sm-3">
	  			<div class="team-block">
	  				<div class="team-man">
	  				<img src="/static/images/bidisha.jpg">
	  				</div>
	  				<div class="team-description text-center">
	  					<div class="title">
	  						<h3>Bidisha Das Bakshi</h3>
	  						<span>Intuit-26lpa</span>
	  					</div>
	  					<p>
	  					Start preparing after 5th sem or 6th SEM mid.Take aptitude seriously.Learn to speak well,better do mock interviews amongst peers.Take some subjects taught in college srsly.( Ds and algo).Nothing,other than failure can trigger success.Work hard,be content,be confident and don't worry about result
	  					</p>
	  					
	  				</div>
	  			</div>
	  		</div>
	  		<div class="col-sm-6 col-sm-3">
	  			<div class="team-block">
	  				<div class="team-man">
	  				<img src="/static/images/shruthi.jpg">
	  				</div>
	  				<div class="team-description text-center">
	  					<div class="title">
	  						<h3>SHRUTHI</h3>
	  						<span>one trust-5lpa</span>
	  					</div>
	  					<p>
	  						 To get into any company,we have to clear all the rounds for that our aptitude should be good and as per my experience all the technical rounds will not be that difficult but which ever subject that we will mention in our resume we should know the basics very well,if u know basics it's not a big problem.When u get into any company training will be provided,if u know basics,then we can build our careers from there as per the company requirements,otherwise it will be quite difficult.
	  					</p>
	  					
	  				</div>
	  			</div>
	  		</div>
	  		<div class="col-sm-6 col-sm-3">
	  			<div class="team-block">
	  				<div class="team-man">
	  				<img src="/static/images/rohan.jpg">
	  				</div>
	  				<div class="team-description text-center">
	  					<div class="title">
	  						<h3>rohan karnik</h3>
	  						<span>ROBERT BOSCH-4.2</span>
	  					</div>
	  					<p>
	  					Be confident, Kindly Practice coding in Hackerrank regularly and start to prepare for placements at least 2 months before the placements starts.They ask casual question to see how good you present yourself.Your Confidence,English and how you manage your presentation if you are interrupted in between.. Be strong in basic concepts of Data Structures, Algorithms and Operating systems. Moreover, be thorough with everything you mention in your resume and mention only those which you are perfect in. 
	  					</p>

	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  	
	  </div>

	</section>
	<div class="atright">	
	<form action="/testimonials1" method="POST">
			<div class="container">
			  <ul class="pagination">
			    <li><button class="" type="submit" style="float: left;position: relative; background: none;outline: none;color: white;border: none;background-color: deepskyblue">NEXT >></button></li>
			  </ul>
			</div>
	</form>
	</div>
</div>
</body>
</html>
